<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%POST_TITLE%}</title>
  <link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
</head>
<body>
  <body style="margin:0; font-family:Segoe UI, sans-serif; background-color:#f5f5f5;">
  <header style="background:#6a0f0f; padding:1rem; color:white; text-align:center;">
    <h1 id="post-title" style="margin:0;">{%POST_SECTION%}</h1>
    <a href="/node-blog/sports/" class="btn" style="color:white; text-decoration:underline; display:block; margin-top:0.5rem;">👈 Back</a>
  </header>
  <main style="padding:1rem; max-width:800px; margin:auto;">
    <h1 id="post-title" style="font-size:1.8rem;">{%POST_TITLE%}</h1>
    <img src="{%IMAGE%}" alt="{%POST_TITLE%}" style="width:100%; max-height:400px; object-fit:cover; border-radius:10px; margin-bottom:1rem;">
    
    <hr>
    <p id="post-content" style="line-height:1.6; font-size:1.1rem; color:#333;">{%POST_CONTENT%}</p>
  </main>
  <script src="script.js"></script>
</body>

</body>
</html>
